@import "src/definitions.scss";

.footer::before {
  content: "--";
  display: block;
}

.footer__nav {
  margin: $block-margin 0;
}

.footer__item {
  list-style: none;
  display: inline;

  &:not(:last-child)::after {
    content: " ⸱ ";
    display: inline;
  }
}
