@import "src/definitions.scss";

.footer {
  @media screen and (min-width: $breakpoint__720) {
    padding-top: $base-space__l * 1;
  }

  @media screen and (min-width: $breakpoint__1600) {
    padding-top: $base-space__xl * 1;
  }

  &::before {
    content: "--";
    display: block;
    padding-bottom: 12px;
  }
}

.footer__nav {
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__item {
  list-style: none;
  display: inline;

  &:not(:last-child)::after {
    content: " ⸱ ";
    display: inline;
  }
}
