@import "src/definitions.scss";

body {
  @include text-style__main-text;
  font-family: $font-family__main;
  overflow-wrap: anywhere;
  margin: $base-space * 2;
  max-width: $content-width;

  @media (min-width: $breakpoint__720) {
    margin: $base-space * 4 $base-space * 6;
  }

  @media (min-width: $breakpoint__1600) {
    margin: $base-space * 8 $base-space * 10;
  }

  @media (min-width: $breakpoint__1920) {
    margin: $base-space * 14 auto;
  }
}

.text {
  max-width: 620px;

  ul {
    margin-left: 24px;
  }

  p,
  ul,
  ol {
    margin-top: $block-margin;
    margin-bottom: $block-margin;
  }

  p ~ ul {
    margin-top: -0.5em;
  }

  li {
    list-style: circle;
  }
}

a {
  text-decoration: none;
  color: #11f;
}

h1 {
  @include text-style__h1;
}

h2 {
  @include text-style__h2;
}

h3 {
  @include text-style__h3;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}
