@import "src/definitions.scss";

body {
  margin: $base-space__m;
  max-width: $content-width;

  @media screen and (min-width: $breakpoint__720) {
    margin: $base-space__l * 2;
  }

  @media screen and (min-width: $breakpoint__1600) {
    margin: $base-space__xl * 2;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.text-container {
  max-width: 620px;

  ul {
    margin-left: 24px;
  }

  p ~ ul {
    margin-top: -0.5em;
  }

  li {
    list-style: circle;
  }

  p,
  ul,
  ol {
    margin-top: $block-margin 0;
    margin-bottom: $block-margin 0;
  }
}

.text-container__space {
  display: block;
  height: 1px;
}

a {
  text-decoration: none;
  color: #11f;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

ul,
ol {
  padding: 0;
}

li {
  list-style: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}
