@import "src/definitions.scss";

.header {
  @media (min-width: $breakpoint__1600) {
    margin-bottom: $base-space * 2;
  }
}

.header__title {
  @include text-style__title;
  margin: 0;

  @media (min-width: $breakpoint__720) {
    margin: $base-space 0;
  }
}
