$base-space: 12px;
$base-space__m: $base-space * 2;
$base-space__l: $base-space * 3;
$base-space__xl: $base-space * 4;

$block-margin: 16px;

$breakpoint__321: 321px;
$breakpoint__520: 520px;
$breakpoint__720: 720px;
$breakpoint__1200: 1200px;
$breakpoint__1600: 1600px;
$breakpoint__1920: 1920px;

$content-width: 1200px;

$font-family__text: "Raleway", sans-serif;
$font-family__title: "Quicksand", sans-serif;

@mixin text-style__title {
  font-family: $font-family__title;
  font-weight: 300;
  font-size: 32px;
  line-height: 35px;

  @media screen and (min-width: $breakpoint__720) {
    font-size: 52px;
    line-height: 60px;
  }

  @media screen and (min-width: $breakpoint__1600) {
    font-size: 65px;
    line-height: 74px;
  }
}

@mixin text-style__copy {
  font-family: $font-family__text;
  font-weight: 300;
  font-size: 19px;
  line-height: 26px;
}

@mixin text-style__main-text {
  font-family: $font-family__text;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
